<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <ul class='list-inline'>
            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a></li>
        </ul> 
       <p class='text-muted'>
        Copyright &copy; Bono. All rights reserved.
       </p>   
      </div>
    </div>
    
  </div>
</footer>